aiofiles==25.1.0
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///opt/miniconda3/conda-bld/anaconda-cloud-auth-split_1765839823423/work
anaconda-cli-base @ file:///opt/miniconda3/conda-bld/anaconda-cli-base_1764888589923/work
annotated-doc==0.0.4
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744949290/work
anthropic==0.93.0
anyio==4.13.0
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
bidict==0.23.1
blinker==1.9.0
boltons @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_97h34kncb9/croot/boltons_1751383736162/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161081/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1763135329285/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
click @ file:///opt/miniconda3/conda-bld/click_1764332239180/work
conda @ file:///opt/miniconda3/conda-bld/conda_1765567809749/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ebkcs5yxh6/croot/conda-anaconda-tos_1755123330773/work
conda-content-trust @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-content-trust_1728603284288/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///opt/miniconda3/conda-bld/conda-package-handling_1762366402479/work
conda_package_streaming @ file:///opt/miniconda3/conda-bld/conda-package-streaming_1762361629849/work
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1761931964095/work
decorator==5.2.1
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1728591855492/work
dnspython==2.8.0
docopt==0.6.2
docstring_parser==0.17.0
donkeycar==2.5.8
eventlet==0.40.4
fastapi==0.135.3
filelock==3.25.2
Flask==3.1.2
frozendict @ file:///opt/miniconda3/conda-bld/frozendict_1761750665916/work
fsspec==2026.2.0
gensim==4.4.0
greenlet==3.3.1
h11==0.16.0
h5py==3.15.1
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.27.0
huggingface_hub==1.8.0
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005426/work
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
jaraco.classes @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97dr4u6nc1/croot/jaraco.classes_1755516335437/work
jaraco.context @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jaraco.context_1731716684676/work
jaraco.functools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_91zaq5_008/croot/jaraco.functools_1740408121405/work
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.3
jsonpatch @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jsonpatch_1728594556110/work
jsonpointer @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bdid71leqg/croot/jsonpointer_1753788445166/work
keyring @ file:///opt/miniconda3/conda-bld/keyring_1763637309871/work
libmambapy @ file:///opt/miniconda3/conda-bld/mamba-split_1763111381025/work/libmambapy
llvmlite==0.46.0
markdown-it-py @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6av49xs_3l/croot/markdown-it-py_1756299201304/work
MarkupSafe==3.0.3
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552175942/work
menuinst @ file:///opt/miniconda3/conda-bld/menuinst_1765382369523/work
more-itertools @ file:///opt/miniconda3/conda-bld/more-itertools_1761121541654/work
moviepy==2.2.1
mpmath==1.3.0
msgpack @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0d73gp34a_/croot/msgpack-python_1750958625811/work
networkx==3.6.1
numba==0.64.0
numpy==2.4.2
openai==2.31.0
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079023/work
pandas==3.0.0
pillow==11.3.0
pkce @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pkce_1728592680499/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356666077/work
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bei6q1cvvt/croot/pluggy_1733169621717/work
proglog==0.1.12
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61k1o_oje7/croot/pycosat_1736868429741/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496048647/work
pydantic==2.12.5
pydantic-settings @ file:///opt/miniconda3/conda-bld/pydantic-settings_1764165151428/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009784214/work
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431584667/work
PyJWT @ file:///opt/miniconda3/conda-bld/pyjwt_1764332099092/work
pynndescent==0.6.0
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.1
python-multipart==0.0.24
python-socketio==5.16.1
PyYAML==6.0.3
readchar @ file:///opt/miniconda3/conda-bld/readchar_1760613300945/work
regex==2026.2.28
requests @ file:///opt/miniconda3/conda-bld/requests_1762359592010/work
rich @ file:///opt/miniconda3/conda-bld/rich_1760375480293/work
ruamel.yaml @ file:///opt/miniconda3/conda-bld/ruamel.yaml_1762535951282/work
ruamel.yaml.clib @ file:///opt/miniconda3/conda-bld/ruamel.yaml.clib_1762530070208/work
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
semver @ file:///opt/miniconda3/conda-bld/semver_1761903026306/work
sentence-transformers==5.3.0
setuptools==80.9.0
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204150/work
simple-websocket==1.1.0
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
starlette==1.0.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.2
tomli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03b1up8uh3/croot/tomli_1753774598375/work
torch==2.11.0
tornado==4.5.3
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863348900/work
transformers==5.3.0
truststore @ file:///opt/miniconda3/conda-bld/truststore_1762520923820/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169744/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
umap-learn==0.5.11
urllib3 @ file:///opt/miniconda3/conda-bld/urllib3_1765399201892/work
uvicorn==0.44.0
Werkzeug==3.1.5
wheel==0.45.1
wrapt==2.1.2
wsproto==1.3.2
zstandard @ file:///opt/miniconda3/conda-bld/zstandard_1758189078532/work
